.about-page {
display: flex;
flex-direction: column ;
align-items: center;
height: 200%;
overflow: hidden;

  h1{
   
    font-size: 60px;
  font-family: 'Coolvetica';
  letter-spacing: 4px;
  font-weight: 400;
  }
  .about-text-zone {
    display: flex;
 padding-top: 0px;
 padding-left:100px;
    z-index:1;
  width: 90%;
  .aboutslider{
    top: 1px;
    flex: 1;
  }
  .aboutp{
    flex: 1;
    padding: 20px;
  }
.aboutheader{
  font-family: 'La Belle Aurore' ;
  letter-spacing: 3px;
  font-size: 25px;
  color: white;
  
}
hr{
  color: white;
  margin: 40px;
}
  p {
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Times New Roman' sans-serif;
    font-weight: 200;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }
  
    }
.abg {
  position: absolute;
  background-color: rgb(199, 96, 64);
  clip-path: polygon(13% 8%, 100% 14%, 100% 100%, 0 100%, 0 17%);
  height: 150%;
  width: 100%;
  transition: all 1s ease-out;
  // animation: fadeIn 2s 2s backwards;
}

}
@media screen and (max-width: 800px) {
  .abg{
    height: 200% !important;
  }
  .about-text-zone {
    width: 70%;
    flex-direction: column;
    padding-left: 0px !important;
  }
  }