.contact-bg {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/images/bridgegirls.png) center/cover no-repeat fixed;
  height: 120vh;
width: 100vw;
object-fit: cover;
margin: 0;
padding: 0;
position: absolute;
z-index: -1111;
top: 0;
bottom: 0;
animation: fadeIn 1s 1s backwards;

}
.contact-page {
  
height: 100vh;
width: 100vw;
object-fit: cover;
margin-top: 0;
padding-top: 40px;
align-items: center;
justify-content: center;
top: 0;
.contact-text-zone{
  width: 50%;
  align-items: center;
  color: white;
  text-align: center;
  padding-left: 25%;
  min-width: 250px;

}
.contact-form {
    width: 100% !important;
    margin-top: 20px;
  
    .contact-ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: rgba(0,0,0,0.5);
      height: 50px;
      font-size: 16px;
      color: white;
      padding: 0 20px;
      box-sizing: border-box;
    }
  
    textarea {
      width: 100% !important;
      border: 0;
      background: rgba(0,0,0,0.5);
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
      color:white ;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid white;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
      &:hover {
        background: black;
        color: white;
        border-radius: 25px;
        font-weight: 750;
        border: 1px solid black;
      }
    }
    
    }
  }
  

  
@media screen and (max-width: 700px) {
  .contact-text-zone{
    width: 80% !important;
    padding-left: 10% !important;

    }
    .contact-form{
      width: 100% !important
    }
    textarea {
      width: 100% !important;
    }
  }
